// 1. Top line

#filters-indicator {
  grid-column: 7/7;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-self: end;
  margin-top: 14px;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
}

#printBtn {
  padding: 6px;
  grid-column: 7/7;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 40px;
}

#filters-btn {
  padding: 6px;
  grid-column: 7/7;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-self: end;
}

#addBtn {
  background-color: #7445a6;
  grid-column: 10/10;
  grid-row: 1/1;
  height: 36px;
  margin: 6px 6px 6px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-self: end;
  width: 100%;
  min-width: 80px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}

#search-box {
  grid-column: 8/10;
  grid-row: 1/1;
  padding-left: 6px;
  margin: 6px 0px;
  z-index: -1;
}

#searchbox-btn {
  grid-column: 9/10;
  grid-row: 1/1;
  align-self: center;
  justify-self: right;
  margin-right: 12px;
  padding: 6px;
  color: #7445a6;
}

#row-count {
  display: flex;
  justify-self: start;
  margin-left: 12px;
  margin-top: 18px;
}

// 2. Tabulator specific for this layout

#dataTable.tabulator {
  grid-column: 1/-1;
  grid-row: 3/-1;

  .tabulator-headers,
  div.tabulator-row {
    margin: 0px;
    padding-left: 0px !important;
    display: grid ;
    grid-template-columns: repeat(10, minmax(60px, 1fr));
    grid-template-rows: 48px;
    column-gap: 12px;

    // Normally hidden
    .details > span {
      display: none;
    }
    // When row selected
    &.tabulator-selected {
      .details > span {
        display: block;
      }
    }
  }

  .rankName {
    grid-column: 1 ;
  }

  .specialtyName {
    grid-column: 2 ;
  }

  .first_name {
    grid-column: 3 ;
  }

  .last_name {
    grid-column: 4 ;
  }

  .gender {
    grid-column: 6 ;
  }

  .mobileNumber {
    grid-column: 8 ;
  }
  .details {
    grid-column-start: 10 ;
    color: grey;
  }
}

// 3. Tabulator squeezed
#dataTable.tabulator.alt {
  grid-column: 1/5;
  grid-row: 3/-1;

  .tabulator-headers,
  div.tabulator-row {
    margin: 0px;
    padding-left: 0px !important;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-template-rows: 48px;
    column-gap: 12px;
  }

  .rankName {
    grid-column: 1;
  }
  .specialtyName {
    grid-column: 2;
  }

  .first_name {
    grid-column: 3;
  }

  .last_name {
    grid-column: 4;
  }
}

// 4. Absence sheet Tabulator
#dataTable.tabulator.absence {
  grid-column: 1/-1;
  grid-row: 3/-1;

  .tabulator-headers,
  div.tabulator-row {
    margin: 0px;
    padding-left: 0px;
    display: grid ;
    grid-template-columns: 120px 12px 120px 12px 120px 12px 120px repeat(12, 1fr) !important;
    grid-template-rows: 48px;
    column-gap: 0px;
  }
  .tabulator-col.tabulator-col-group.dates {
    grid-column: 5/-1;
    margin-left: 200px;
  }

.rankName {
    grid-column: 1;
  }
  .specialtyName {
    grid-column: 3;
  }

  .first_name {
    grid-column: 5;
  }

  .last_name {
    grid-column: 7;
  }


  .tabulator-cell.dates{
    width: 100% !important;
  }


  .dates {
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid #e0e0e0;
    border-right: 0px;
    border-top: 0px;
   


    

    &[title]:not([title=""]){
      font-size: 0px;
      

    }

  

    &[title="1"] {
      background-color: gray !important;

    }
    &[title="2"] {
      background-color: green !important;
      
    }

    &[title="3"] {
      background-color: black !important;
      
    }
    &[title="4"] {
      background-color: yellow !important;
      
    }
  }
}

.day-name{
display: flex;
font-size: 14px;
text-align: center;
height: 100%;
padding-bottom: 12px !important;
}

// Personell Details Component

#details-wrapper {
  grid-column: 5/-1;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: repeat(6, minmax(60px, 1fr));
  grid-template-rows: 49px repeat(auto-fill, 48px);
  column-gap: 12px;

  .header-row {
    border-bottom: 1px solid grey;
    font-size: 16px;
    padding: 15px 0px;
    grid-column: 1/-1;
    grid-row: 1 span 1;
    display: grid;
    grid-template-columns: subgrid;

    #optionA {
      grid-column: -4;
      grid-row: 1;
    }

    #optionB {
      grid-column: -3;
      grid-row: 1;
    }
    #optionC {
      grid-column: -1;
      grid-row: 1;
    }
  }
}

.details:hover {
  color: #7545a6;
  font-style: bold;
  font-size: 18px;
}

// Right modal Components

#first-title {
  grid-row: 1;
}

#groups-table.tabulator {
  grid-row: 2;
  width: 200px;
}

#second-title {
  grid-row: 3;
}

#filters-table.tabulator {
  grid-row: 4;
  width: 200px;
}

.modal-right {
  display: grid;
  grid-template-rows: 36px 96px 36px 1fr;
  grid-template-columns: 200px;
}

.rightModalTitle {
  padding-left: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #262626;
  border-bottom: 2px solid #a6a6a6;
}

#groups-table.tabulator .tabulator-header,
#filters-table.tabulator .tabulator-header {
  display: none;
  height: 0px;
  border: 0px;
}

#groups-table.tabulator .tabulator-cell,
#filters-table.tabulator .tabulator-cell {
  height: 36px !important;
  align-self: center;
}

#groups-table.tabulator .tabulator-row,
#filters-table.tabulator .tabulator-row {
  border: none;
}
#groups-table.tabulator .tabulator-group,
#filters-table.tabulator .tabulator-group {
  display: flex;
  align-content: center;
  line-height: 36px;
  background-color: transparent !important;
}
