.photo-container{
  grid-row: 1/9;
  grid-column: 1/5;
}

#personell-photo{
border-radius: 8px;
max-width: 320px;
max-height: 320px;
}

#full-name{
  grid-row:9;
  grid-column: 1/4;;
  align-self: center;
  font-size: 24px;
  font-style: bold;
}

#last-updated{
  grid-row:10;
  grid-column: 1/3;;
  font-size: 16px;
  font-style: bold;
  color:grey;
}

.title {

grid-row:1;
grid-column: 5/11;
display: flex;
align-self: top;
justify-self: right;
}

