/* Tabulator specific for this layout */

#dataTable.tabulator {
  grid-column: 1/-1;
  grid-row: 3/-1;
}

#dataTable.tabulator .tabulator-headers{
  display: grid;
  grid-template-columns: repeat(10, minmax(60px, 1fr));
  grid-template-rows: 48px;
  column-gap: 12px;
}

#dataTable.tabulator div.tabulator-row{
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  column-gap: 12px;
}


.rankName{
grid-column: 1; 
width:100% !important;
}
.specialtyName{
  grid-column: 2;
  width:100% !important;
}

.first_name{
  grid-column-start: 3;
  grid-column-end: 5;
  width:100% !important;
 }

.last_name{
  grid-column-start:5 ;
  grid-column-end: 7;
  width:100% !important;
}

.gender{
  grid-column-start:7;
  grid-column-end: 8;
  width:100% !important;
}

.mobileNumber{
  grid-column-start:9;
  grid-column-end: 9;
  width:100% !important;
}

.details{
  grid-column-start:10;
  grid-column-end: 10;
  width:100% !important;
  color: grey;
}

.details:hover{
  color: #7545a6;
}


#rightModalTable{
  grid-row: 2;
  width: 200px;
}

#rightModalTable.tabulator{
  margin-top: 60px;
  position: static;
}

#rightModalTable.tabulator .tabulator-header{
  display: none;
  height:0px;
  border: 0px;
}

#rightModalTable.tabulator .tabulator-cell{
  height: 48px!important;
  align-self: center;
 }

#rightModalTable.tabulator .tabulator-row{
  border: none;
}

.rightModaltableBtn.active{
  color: #7445a6;
}


#printBtn {
  padding: 6px;
  grid-column: 7/7;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right:40px;
  
}

#groupBtn {
  padding: 6px;
  grid-column: 7/7;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-self: end;
}

#addBtn {
  background-color: #7445a6;
  grid-column: 10/10;
  grid-row: 1/1;
  height: 36px;
  margin: 6px 6px 6px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-self: end;
  width: 100%;
  min-width: 80px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}

#searchBox{
  grid-column: 8/10;
  grid-row: 1/1;
  padding-left: 6px;
  margin: 6px 0px;
  z-index: -1;
}

#closeBtn{
  grid-column: 9/10;
  grid-row: 1/1;
  align-self: center;
  justify-self: right;
  margin-right: 12px;
  padding: 6px;
  color: #7445a6;
}


.rightModalTitle {
  padding-left: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 48px;
  color: #262626;
  border-bottom: 2px solid #a6a6a6;
}

#first-title{
 grid-row: 1;
}

#second-title{
  grid-row: 5;
 }
 



