#filters-indicator {
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  margin-top: 14px;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
}

#printBtn {
  padding: 6px;
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

#advance-date {
  padding: 12px;
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
}

#retreat-date {
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
}

#date-indicator {
  margin-left: 12px;
  -ms-grid-column: 6;
  grid-column: 6/6;
  -ms-grid-row: 1;
  grid-row: 1/1;
  margin: 6px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-self: end;
  font-family: 'ubuntu';
  color: #a6a6a6;
}

#filters-btn {
  padding: 6px;
  -ms-grid-column: 7;
  grid-column: 7/7;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}

#addBtn {
  background-color: #7445a6;
  -ms-grid-column: 10;
  grid-column: 10/10;
  -ms-grid-row: 1;
  grid-row: 1/1;
  height: 36px;
  margin: 6px 6px 6px 0px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  width: 100%;
  min-width: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}

#search-box {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 1;
  grid-row: 1/1;
  padding-left: 6px;
  margin: 6px 0px;
  z-index: -1;
}

#searchbox-btn {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9/10;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 12px;
  padding: 6px;
  color: #7445a6;
}

#row-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  margin-left: 12px;
  margin-top: 18px;
}

#dataTable.tabulator {
  grid-column: 1/-1;
  grid-row: 3/-1;
}

#dataTable.tabulator .tabulator-headers,
#dataTable.tabulator div.tabulator-row {
  margin: 0px;
  padding-left: 0px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 1fr))[10];
      grid-template-columns: repeat(10, minmax(60px, 1fr));
  -ms-grid-rows: 48px;
      grid-template-rows: 48px;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

#dataTable.tabulator .tabulator-headers .details > span,
#dataTable.tabulator div.tabulator-row .details > span {
  display: none;
}

#dataTable.tabulator .tabulator-headers.tabulator-selected .details > span,
#dataTable.tabulator div.tabulator-row.tabulator-selected .details > span {
  display: block;
}

#dataTable.tabulator .rankName {
  -ms-grid-column: 1;
  grid-column: 1;
}

#dataTable.tabulator .specialtyName {
  -ms-grid-column: 2;
  grid-column: 2;
}

#dataTable.tabulator .first_name {
  -ms-grid-column: 3;
  grid-column: 3;
}

#dataTable.tabulator .last_name {
  -ms-grid-column: 4;
  grid-column: 4;
}

#dataTable.tabulator .gender {
  -ms-grid-column: 6;
  grid-column: 6;
}

#dataTable.tabulator .mobileNumber {
  -ms-grid-column: 8;
  grid-column: 8;
}

#dataTable.tabulator .details {
  -ms-grid-column: 10;
      grid-column-start: 10;
  color: grey;
}

#dataTable.tabulator.alt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  grid-row: 3/-1;
}

#dataTable.tabulator.alt .tabulator-headers,
#dataTable.tabulator.alt div.tabulator-row {
  margin: 0px;
  padding-left: 0px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(60px, 1fr));
  -ms-grid-rows: 48px;
      grid-template-rows: 48px;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

#dataTable.tabulator.alt .rankName {
  -ms-grid-column: 1;
  grid-column: 1;
}

#dataTable.tabulator.alt .specialtyName {
  -ms-grid-column: 2;
  grid-column: 2;
}

#dataTable.tabulator.alt .first_name {
  -ms-grid-column: 3;
  grid-column: 3;
}

#dataTable.tabulator.alt .last_name {
  -ms-grid-column: 4;
  grid-column: 4;
}

#dataTable.tabulator.absence {
  grid-column: 1/-1;
  grid-row: 3/-1;
}

#dataTable.tabulator.absence .tabulator-headers,
#dataTable.tabulator.absence div.tabulator-row {
  margin: 0px;
  padding-left: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 12px 120px 12px 120px 12px 120px (1fr)[12] !important;
      grid-template-columns: 120px 12px 120px 12px 120px 12px 120px repeat(12, 1fr) !important;
  -ms-grid-rows: 48px;
      grid-template-rows: 48px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

#dataTable.tabulator.absence .tabulator-col.tabulator-col-group.dates {
  grid-column: 5/-1;
  margin-left: 200px;
}

#dataTable.tabulator.absence .rankName {
  -ms-grid-column: 1;
  grid-column: 1;
}

#dataTable.tabulator.absence .specialtyName {
  -ms-grid-column: 3;
  grid-column: 3;
}

#dataTable.tabulator.absence .first_name {
  -ms-grid-column: 5;
  grid-column: 5;
}

#dataTable.tabulator.absence .last_name {
  -ms-grid-column: 7;
  grid-column: 7;
}

#dataTable.tabulator.absence .tabulator-cell.dates {
  width: 100% !important;
}

#dataTable.tabulator.absence .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #e0e0e0;
  border-right: 0px;
  border-top: 0px;
}

#dataTable.tabulator.absence .dates[title]:not([title=""]) {
  font-size: 0px;
}

#dataTable.tabulator.absence .dates[title="1"] {
  background-color: gray !important;
}

#dataTable.tabulator.absence .dates[title="2"] {
  background-color: green !important;
}

#dataTable.tabulator.absence .dates[title="3"] {
  background-color: black !important;
}

#dataTable.tabulator.absence .dates[title="4"] {
  background-color: yellow !important;
}

.day-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  text-align: center;
  height: 100%;
  padding-bottom: 12px !important;
}

#details-wrapper {
  grid-column: 5/-1;
  grid-row: 3/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(60px, 1fr));
  -ms-grid-rows: 49px (48px)[auto-fill];
      grid-template-rows: 49px repeat(auto-fill, 48px);
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

#details-wrapper .header-row {
  border-bottom: 1px solid grey;
  font-size: 16px;
  padding: 15px 0px;
  grid-column: 1/-1;
  grid-row: 1 span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: subgrid;
      grid-template-columns: subgrid;
}

#details-wrapper .header-row #optionA {
  grid-column: -4;
  -ms-grid-row: 1;
  grid-row: 1;
}

#details-wrapper .header-row #optionB {
  grid-column: -3;
  -ms-grid-row: 1;
  grid-row: 1;
}

#details-wrapper .header-row #optionC {
  grid-column: -1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.details:hover {
  color: #7545a6;
  font-style: bold;
  font-size: 18px;
}

#first-title {
  -ms-grid-row: 1;
  grid-row: 1;
}

#groups-table.tabulator {
  -ms-grid-row: 2;
  grid-row: 2;
  width: 200px;
}

#second-title {
  -ms-grid-row: 3;
  grid-row: 3;
}

#filters-table.tabulator {
  -ms-grid-row: 4;
  grid-row: 4;
  width: 200px;
}

.modal-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 36px 96px 36px 1fr;
      grid-template-rows: 36px 96px 36px 1fr;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
}

.rightModalTitle {
  padding-left: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #262626;
  border-bottom: 2px solid #a6a6a6;
}

#groups-table.tabulator .tabulator-header,
#filters-table.tabulator .tabulator-header {
  display: none;
  height: 0px;
  border: 0px;
}

#groups-table.tabulator .tabulator-cell,
#filters-table.tabulator .tabulator-cell {
  height: 36px !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#groups-table.tabulator .tabulator-row,
#filters-table.tabulator .tabulator-row {
  border: none;
}

#groups-table.tabulator .tabulator-group,
#filters-table.tabulator .tabulator-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 36px;
  background-color: transparent !important;
}
/*# sourceMappingURL=hrm_personellList.css.map */