// Colors
$colorPurple: #7445a6 !default;
$colorPurple005: rgba(117, 69, 166, 0.05) !default;
$colorPurple010: rgba(117, 69, 166, 0.1) !default;
$colorBlack: #262626 !default;
$colorGrey1: #a6a6a6 !default;
$borderGrey: #e0e0e0;
$colorFullWhite: #ffffff !default;
$colorOtherWhite: #fafafa !default;
$colorSoftWhite: rgba(255, 255, 255, 0.8) !default;
$colorGradientMain: linear-gradient(90.29deg, #6a3dd3 0%, #764ba2 100%), #ffffff !default;
$colorWhite005: rgba(255, 255, 255, 0.05) !default;
$colorWhite010: rgba(255, 255, 255, 0.1) !default;

// Layout
.body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 18px 12px;
  height: calc(100vh - 36px);
  display: grid;
  grid-template-columns: 172px 1fr 1px;
  grid-template-rows: 84px 1fr 72px; /* middle row resizes, to give extra room for main part (extra data) */
  grid-template-areas:
    "topNav topNav topNav"
    "leftNav main  ."
    "leftNav footer  .";
  column-gap: 36px;
  opacity: 0.9;
  background-color: $colorOtherWhite;
  font-family: "ubuntu";
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

// MODULES component - START
@mixin active-module {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.modules-nav {
  grid-area: topNav;
  display: grid;
  grid-template-columns: 196px repeat(10, 1fr);
  column-gap: 12px;
  padding-right: 36px; //--?
  background: $colorGradientMain;
  box-shadow: 0px 8px 16px rgba(56, 42, 89, 0.2);
}

.module-button {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  color: $colorSoftWhite;

  &:hover {
    border-radius: 2px;
    background-color: $colorWhite005;
  }
  &:active {
    @include active-module;
  }
}

.module-button.active {
  @include active-module;
}

.module-button .material-icons {
  margin-top: 24px;
  margin-bottom: -6px;
  color: $colorSoftWhite;
}

.app-buttons {
  grid-column: 11/11;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 84px;

  span {
    padding: 6px;
    height: 24px;
    width: 24px;
    margin-top: 24px;
  }
}
// MODULES component - END

// SUB MODULES component - START
@mixin active-submodule {
  background-color: $colorPurple010;
  border-radius: 4px 0px 0px 4px;
  color: $colorBlack;
  .material-icons {
    color: $colorPurple;
  }
}

.submodules-nav {
  grid-area: leftNav; /* parent grid */
  background: #fafafa;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 36px 0px 48px 36px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 36px);
  align-items: center;
}

.submodule-button {
  display: flex;
  height: 36px;
  padding-left: 12px;
  align-content: center;
  align-items: center;
  color: $colorGrey1;

  .material-icons {
    padding-right: 12px;
    color: $colorGrey1;
  }
  &:hover {
    background-color: $colorPurple005;
    border-radius: 0px 0px 2px 2px;
  }

  &:active {
    @include active-submodule;
  }
}

.submodule-button.active {
  @include active-submodule;
  border-right: 2px solid $colorPurple;
}
// SUB MODULES component - END

// MAIN component - START
.main {
  grid-area: main; /* parent grid */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 48px 12px 48px repeat(auto-fill, 48px);
  margin-left: -1px;
  column-gap: 12px;
  padding: 36px 0px 0px 0px;
  z-index: -1;
}
.title {
  grid-column: 1 / 6;
  font-weight: bold;
  font-size: 36px;
  color: $colorBlack;
}

// MAIN component - END
.footer {
  grid-area: footer;
  display: grid;
  border-top: 2px solid $borderGrey;
  margin-top: -18px;
  z-index: -1;
  background: $colorOtherWhite;
}

.extraContent {
  grid-area: extra;
  display: none;
  text-align: center;
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    grid-template-columns: 172px 1fr 172px;
    grid-template-areas:
      "topNav     topNav    topNav"
      "leftNav    main      extra"
      "leftNav    footer    extra";
  }

  .extraContent {
    grid-area: extra;
    display: inline-block;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    padding-top: 48px;
  }
}

//Tabulator Configuration - for all tables

.tabulator {
  background-color: transparent !important;
  height: 100%;
  .tabulator-tableHolder {
    overflow-x: hidden; /* no horizontal scrolling */
    background-color: transparent !important;
    height: 100% !important;
    padding: 0px !important;
  }

  .tabulator-table {
    height: 100% !important;
    padding: 0px !important;
  }
  .tabulator-header {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    background-color: transparent !important;
  }

  .tabulator-headers {
    padding: 0px;
    margin: 0px;
    background-color: transparent !important;
  }
  .tabulator-cell {
    padding: 12px 0px 0px 6px;
    margin: 0px;
    height: 100% !important;
    background-color: transparent !important;
  }
  .tabulator-col-content {
    padding: 12px 0px 0px 6px;
    margin: 0px;
    color: grey;
    font-weight: 300;
    background-color: transparent !important;
  }
  .tabulator-paginator {
    height: 0px !important;
  }

  .tabulator-col {
    background-color: transparent !important;
  }

  .tabulator-row {
    border: none;
  }

  .tabulator-footer {
    height: 0px;
  }

  .tabulator-sortable {
    background-color: transparent !important;
  }
  .tabulator-group {
    /* the grouping row */
    align-content: center;
    span {
      /* the grouping row record count*/
      color: black;
    }
  }
  .tabulator-group-level-1 {
    font-style: italic;
    padding-left: 48px;
  }
  .tabulator-col-sorter {
    right: 12px;
  }
}

//INPUT BOX Styling

input[type="text"],
textarea {
  outline: none;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  transition: all 0.2s ease-in-out;
}
input[type="text"]:hover,
textarea:hover {
  border: 1px solid #262626;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid $colorPurple;
  border-radius: 4px;
}

.grey-icon {
  color: #bdbdbd !important;
}

// Checkbox Styling
.active-checkbox {
  color: #7445a6;
}

// Highlight Styling
mark {
  background: none;
  color: $colorPurple;
  font-weight: 600;
}

// MODAL right hand
.modal-right {
  position: fixed;
  padding: 42px 12px 0px 36px;
  top: 102px;
  right: 20px;
  height: calc(100vh - 162px);
  width: 250px;
  // align-items: center;
  background: #ffffff;
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
  font-family: "ubuntu";
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: #000000;
  opacity: 0.25;
}

#closeRightModalBtn {
  grid-row: 1;
  line-height: 36px;
  border-bottom: 2px solid $colorGrey1;
}

// Modal Middle Medium

.modal-middle-medium {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 554px;
  height: 180px;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 999;
  font-family: "ubuntu";
}

// Generic

.btn {
  cursor: pointer !important;
}

.no-visibility {
  display: none !important;
}
